﻿@using c_final_capstone_v2.Models;
@model Feedback

@{
    Layout = "~/Views/Shared/_ClientNavLayout.cshtml";
}

<title>Feedback Form</title>

@using (Html.BeginForm("FeedbackForm", "Users", FormMethod.Post))
{
    <form class="container-fluid">
        <section id="centeredPanel">

            <h2>Client Feedback Form</h2>

            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-sm-2" for="clientFirstName">Client First Name:</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.ClientFirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @*<input type="text" class="form-control" id="clientFirstName" placeholder="First Name">*@
                        @Html.ValidationMessageFor(model => model.ClientFirstName, "", new { @class = "text-danger" })
                    </div>
                    <label class="control-label col-sm-2" for="clientLastName">Last Name:</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.ClientLastName, new { htmlAttributes = new { @class = "form-control" } })
                        @*<input type="text" class="form-control" id="clientLastName" placeholder="Last Name">*@
                        @Html.ValidationMessageFor(model => model.ClientLastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="coachFirstName">Coach First Name:</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.CoachFirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @*<input type="text" class="form-control" id="coachFirstName" placeholder="First Name">*@
                        @Html.ValidationMessageFor(model => model.CoachFirstName, "", new { @class = "text-danger" })
                    </div>
                    <label class="control-label col-sm-2" for="coachLastName">Last Name:</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.CoachLastName, new { htmlAttributes = new { @class = "form-control" } })
                        @*<input type="text" class="form-control" id="coachLastName" placeholder="Last Name">*@
                        @Html.ValidationMessageFor(model => model.CoachLastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Which weeks session is this feedback for?", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.Weeks, Feedback.SessionWeek)
                        @Html.ValidationMessageFor(model => model.Weeks, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    @Html.Label("Stock Question 1 (insert question here)", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.RadioButton("Question1", "1") 1
                        @Html.RadioButton("Question1", "2") 2
                        @Html.RadioButton("Question1", "3") 3
                        @Html.RadioButton("Question1", "4") 4
                        @Html.RadioButton("Question1", "5") 5
                        @Html.RadioButton("Question1", "6") 6
                        @Html.RadioButton("Question1", "7") 7
                        @Html.RadioButton("Question1", "8") 8
                        @Html.RadioButton("Question1", "9") 9
                        @Html.RadioButton("Question1", "10") 10
                        @Html.ValidationMessageFor(model => model.Question1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    @Html.Label("Stock Question 2 (insert question here)", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.RadioButton("Question2", "1") 1
                        @Html.RadioButton("Question2", "2") 2
                        @Html.RadioButton("Question2", "3") 3
                        @Html.RadioButton("Question2", "4") 4
                        @Html.RadioButton("Question2", "5") 5
                        @Html.RadioButton("Question2", "6") 6
                        @Html.RadioButton("Question2", "7") 7
                        @Html.RadioButton("Question2", "8") 8
                        @Html.RadioButton("Question2", "9") 9
                        @Html.RadioButton("Question2", "10") 10
                        @Html.ValidationMessageFor(model => model.Question2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    @Html.Label("Stock Question 3 (insert question here)", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.RadioButton("Question3", "1") 1
                        @Html.RadioButton("Question3", "2") 2
                        @Html.RadioButton("Question3", "3") 3
                        @Html.RadioButton("Question3", "4") 4
                        @Html.RadioButton("Question3", "5") 5
                        @Html.RadioButton("Question3", "6") 6
                        @Html.RadioButton("Question3", "7") 7
                        @Html.RadioButton("Question3", "8") 8
                        @Html.RadioButton("Question3", "9") 9
                        @Html.RadioButton("Question3", "10") 10
                        @Html.ValidationMessageFor(model => model.Question3, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    @Html.Label("Stock Question 4 (insert question here)", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.RadioButton("Question4", "1") 1
                        @Html.RadioButton("Question4", "2") 2
                        @Html.RadioButton("Question4", "3") 3
                        @Html.RadioButton("Question4", "4") 4
                        @Html.RadioButton("Question4", "5") 5
                        @Html.RadioButton("Question4", "6") 6
                        @Html.RadioButton("Question4", "7") 7
                        @Html.RadioButton("Question4", "8") 8
                        @Html.RadioButton("Question4", "9") 9
                        @Html.RadioButton("Question4", "10") 10
                        @Html.ValidationMessageFor(model => model.Question4, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    @Html.Label("Stock Question 5 (insert question here)", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.RadioButton("Question5", "1") 1
                        @Html.RadioButton("Question5", "2") 2
                        @Html.RadioButton("Question5", "3") 3
                        @Html.RadioButton("Question5", "4") 4
                        @Html.RadioButton("Question5", "5") 5
                        @Html.RadioButton("Question5", "6") 6
                        @Html.RadioButton("Question5", "7") 7
                        @Html.RadioButton("Question5", "8") 8
                        @Html.RadioButton("Question5", "9") 9
                        @Html.RadioButton("Question5", "10") 10
                        @Html.ValidationMessageFor(model => model.Question5, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    @Html.Label("Stock Question 6 (insert question here)", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.RadioButton("Question6", "1") 1
                        @Html.RadioButton("Question6", "2") 2
                        @Html.RadioButton("Question6", "3") 3
                        @Html.RadioButton("Question6", "4") 4
                        @Html.RadioButton("Question6", "5") 5
                        @Html.RadioButton("Question6", "6") 6
                        @Html.RadioButton("Question6", "7") 7
                        @Html.RadioButton("Question6", "8") 8
                        @Html.RadioButton("Question6", "9") 9
                        @Html.RadioButton("Question6", "10") 10
                        @Html.ValidationMessageFor(model => model.Question6, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    @Html.Label("Stock Question 7 (insert question here)", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.RadioButton("Question7", "1") 1
                        @Html.RadioButton("Question7", "2") 2
                        @Html.RadioButton("Question7", "3") 3
                        @Html.RadioButton("Question7", "4") 4
                        @Html.RadioButton("Question7", "5") 5
                        @Html.RadioButton("Question7", "6") 6
                        @Html.RadioButton("Question7", "7") 7
                        @Html.RadioButton("Question7", "8") 8
                        @Html.RadioButton("Question7", "9") 9
                        @Html.RadioButton("Question7", "10") 10
                        @Html.ValidationMessageFor(model => model.Question7, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="question8">Question 8 (insert question here):</label>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Question8, new { htmlAttributes = new { @class = "form-control" } })
                            @*<textarea class="form-control" rows="5" id="comment"></textarea>*@
                            @Html.ValidationMessageFor(model => model.Question8, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="question9">Question 9 (insert question here):</label>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Question9, new { htmlAttributes = new { @class = "form-control" } })
                            @*<textarea class="form-control" rows="5" id="comment"></textarea>*@
                            @Html.ValidationMessageFor(model => model.Question9, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </section>
    </form>
}
