﻿
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #555456">
        <div class="container">
            <div class="navbar-header">
                <img src="~/Content/Images/logo.png" style="width:90px; height:50px; position: fixed; top:0; left:0; z-index: -1 " />
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Messages", "Index", "Users", null, new { @style = "color:#D4AC0D" })</li>*@
                    <li>@Html.ActionLink("View All Clients", "AdminClientList", "Admin", null, new { @style = "color:#D4AC0D" })</li>
                    <li>@Html.ActionLink("Retrieve Feedback", "AdminRetrieveFeedback", "Admin", null, new { @style = "color:#D4AC0D" })</li> @*Need to link*@
                    <li>@Html.ActionLink("View All Coaches", "AdminCoachList", "Admin", null, new { @style = "color:#D4AC0D" })</li>
                    <li>@Html.ActionLink("Add a Coach", "AddNewCoach", "Admin", null, new { @style = "color:#D4AC0D" })</li>
                    <li>@Html.ActionLink("Get All Reviews", "CoachReviewsList", "Reviews", null, new { @style = "color:#D4AC0D" }) </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Log Out", "LogOut", "Login", null, new { @class = "glyphicon glyphicon-log-out", @style = "color:white", })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<footer>
    <p>@DateTime.Now.Year - Built By E.Ulry, C.Coll, W.Faiz, K.Bailey</p>
</footer>