﻿<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #555456">
        <div class="container">
            <div class="navbar-header">
                <img src="~/Content/Images/logo.png" style="width:90px; height:50px; position: fixed; top:0; left:0; z-index: -1 " />
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://localhost:52338/Home/CoachDash/1">Coach Dash</a></li>
                    <li>@Html.ActionLink("Profile", "CoachProfile", "Users", null, new { @style = "color:#D4AC0D" })</li>
                    <li>@Html.ActionLink("Messages", "MessageDashboard", "Messages", null, new { @style = "color:#D4AC0D" })</li>
                    <li>@Html.ActionLink("View Clients", "ClientProfileList", "Users", null, new { @style = "color:#D4AC0D" })</li>
                    <li>@Html.ActionLink("Submit Feedback", "FeedbackForm", "Users", null, new { @style = "color:#D4AC0D" })</li>
                    <li>@Html.ActionLink("Client Review Link", "ClientNewReview", "Reviews", null, new { @style = "color:#D4AC0D" }) </li>
                    <li>@Html.ActionLink("Admin View", "AdminCoachList", "Admin", null, new { @style = "color:#D4AC0D" })</li> @*will need taken out once session admin is in place*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Log Out", "LogOut", "Login", null, new { @class = "glyphicon glyphicon-log-out", @style = "color:white", })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<footer>
    <p>@DateTime.Now.Year - Built By E.Ulry, C.Coll, W.Faiz, K.Bailey</p>
</footer>