﻿@using c_final_capstone_v2.Models
@model List<Messages>

@{
    ViewBag.Title = "MessageDashboard";
    Layout = "~/Views/Shared/_ClientNavLayout.cshtml";
}

<h2>Message Dashboard</h2>

<table class="table">
    <tr>
    <th>
        From
    </th>
    <th>
        To
    </th>
    <th>
        Message
    </th>
    <th>
        Date
    </th>
    </tr>
    @foreach (Messages message in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => message.SenderName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => message.ReceiverName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => message.MessageText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => message.CreateDate)
            </td>
        </tr>
    }
</table>