﻿@using c_final_capstone_v2.Models
@model List<Coach>

@{
    ViewBag.Title = "AdminCoachList";
    Layout = "~/Views/Shared/_AdminNavLayout.cshtml";
}

@*ForEach loop pulls in each coach from a List of all coaches*@

<h2>Coach List</h2>
<table class="table">
    <tr>
        <th>
            Avatar
        </th>
        <th>
            Coach Name
        </th>
        <th>
            Location
        </th>
        <th>
            Virtual Session Available?
        </th>
    </tr>
    @foreach (Coach coach in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => coach.ImageName)
            </td>
            <td>
                <a href="@Url.Action("AdminCoachProfile", "Admin", new { id = coach.CoachId })">
                    @Html.DisplayFor(modelItem => coach.FirstName)
                    @Html.DisplayFor(modelItem => coach.LastName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => coach.LocationCity),
                @Html.DisplayFor(modelItem => coach.LocationState)
                @Html.DisplayFor(modelItem => coach.LocationZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => coach.VirtualSession)
            </td>
        </tr>
    }
</table>
