﻿@using c_final_capstone_v2.Models
@model List<Feedback>
@{
    ViewBag.Title = "AdminRetrieveFeedback";
    Layout = "~/Views/Shared/_AdminNavLayout.cshtml";
}

@*ForEach loop pulls in each coach from a List of all coaches*@

<h2>Client Feedback</h2>
<table class="table">
    <tr>
        <th>
            Client Name
        </th>
        <th>
            Coach Name
        </th>
        <th>
            Week
        </th>
        <th>
            Responses
        </th>
    </tr>
    @foreach (Feedback feedback in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => feedback.ClientFirstName)
                @Html.DisplayFor(modelItem => feedback.ClientLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => feedback.CoachFirstName)
                @Html.DisplayFor(modelItem => feedback.CoachLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => feedback.Weeks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => feedback.Question1)
                @Html.DisplayFor(modelItem => feedback.Question2)
                @Html.DisplayFor(modelItem => feedback.Question3)
                @Html.DisplayFor(modelItem => feedback.Question4)
                @Html.DisplayFor(modelItem => feedback.Question5)
                @Html.DisplayFor(modelItem => feedback.Question6)
                @Html.DisplayFor(modelItem => feedback.Question7)
                @Html.DisplayFor(modelItem => feedback.Question8)
                @Html.DisplayFor(modelItem => feedback.Question9)
            </td>
        </tr>
    }
</table>