﻿@using c_final_capstone_v2.Models
@model Coach

@{
    ViewBag.Title = "Coach Details(Admin View)";
    Layout = "~/Views/Shared/_AdminNavLayout.cshtml";
}

<title>Coach Details (Admin View)</title>
<section id="centeredPanel">
    <div class="container-fluid">
        <h1>Details for @Model.FirstName @Model.LastName </h1>
        <div class="row">
            @*<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">*@
            <div class="col-md-8">
                <div class="panel panel-info">
                    <div class="panel-heading">

                        <h1 class="panel-title">
                            @{ if (@Model.SeekingClients)
                                {
                                    <span style="text-align: left; font-weight:700">Seeking Clients... </span>
                                }
                                else
                                {
                                    <span style="text-align: left; font-weight:700">No Availability</span>
                                }
                            }
                            <span class="pull-right">
                                <a href=@Url.Action("DeleteCoach", "Admin", new { id = Model.CoachId })> Delete User</a>
                                <a href=@Url.Action("DeleteCoach", "Admin",  new {  id = Model.CoachId }) data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                            </span>
                        </h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            @{ string imagePath = Model.FirstName.ToLower() + "_" + Model.LastName.ToLower() + ".jpg"; }
                            <div class="col-md-3 col-lg-3 " align="center"> <img alt="Coach Picture: @Model.FirstName @Model.LastName" src="~/Content/Images/@($"{imagePath}")" class="img-circle img-responsive"> </div>
                            <span class="pull-right" style="text-align: right; font-weight:300">Profile Created:<br> @Model.ProfileCreated</span>
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td><span style="text-align: left; font-weight:700">Name:</span></td>
                                            <td>@Model.FirstName @Model.LastName</td>
                                        </tr>
                                        <tr>
                                            <td><span style="text-align: left; font-weight:700">Gender:</span></td>
                                            <td>@Model.Gender</td>
                                        </tr>
                                        <tr>
                                            <td><span style="text-align: left; font-weight:700">Ethnicity:</span></td>
                                            <td>@Model.Ethnicity</td>
                                        </tr>
                                        <tr>
                                            <td><span style="text-align: left; font-weight:700">Age:</span></td>
                                            <td>@Model.Age</td>
                                        </tr>

                                        <tr>
                                            <td><span style="text-align: left; font-weight:700">Coach Bio:</span></td>
                                            <td> @Model.AboutMe</td>
                                        </tr>
                                        <tr>
                                            <td><span style="text-align: left; font-weight:700">Location:</span></td>
                                            <td> <p> @Model.LocationCity, @Model.LocationState </p>@Model.LocationZip</td>
                                        </tr>
                                        <tr>
                                            <td><span style="text-align: left; font-weight:700">Meeting Preference:</span></td>

                                            @{ if (@Model.VirtualSession)
                                                {
                                                    <td>In-Person or Virtual Session </td>
                                                }
                                                else
                                                {
                                                    <td>In-Person ONLY</td>
                                                }
                                            }
                                        </tr>
                                        <tr>
                                            <td><span style="text-align: left; font-weight:700">Email:</span></td>
                                            <td><a href="mailto: + @Model.Email">  @Model.Email</a></td>
                                        </tr>


                                    </tbody>
                                </table>

                                <a href="#" class="btn btn-primary">Review Ratings</a>
                                <a href="#" class="btn btn-primary pull-right">View my Messages</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href=@Url.Action("CoachEditProfile", "Users",  new { id = Model.CoachId }) data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <a href=@Url.Action("CoachEditProfile", "Users", new {id = Model.CoachId })>Message Client</a>
                        <span class="pull-right">
                            <a href=@Url.Action("AdminEditCoach", "Admin", new { id = Model.CoachId })> Edit Profile</a>
                            <a href=@Url.Action("AdminEditCoach", "Admin",  new { id = Model.CoachId}) data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <iframe src="https://calendly.com/coder4cbus/availability?embed_domain=www.calendly-embed.com&amp;embed_type=Inline" width="100%" height="100%" frameborder="0"></iframe>
    @*<iframe src="https://calendly.com/dashboard?embed_domain=www.calendly-embed.com&amp;embed_type=Inline" width="100%" height="100%" frameborder="0"></iframe> --GenericLogin -profile will add embedded calendly link*@

</section>



