﻿@using c_final_capstone_v2.Models
@model List<Client>

@{
    ViewBag.Title = "AdminClientList";
    Layout = "~/Views/Shared/_AdminNavLayout.cshtml";
}


@*ForEach loop pulls in each coach from a List of all coaches*@

<h2>Client List</h2>
<table class="table">
    <tr>
        <th>
            Avatar
        </th>
        <th>
            Coach Name
        </th>
        <th>
            Location
        </th>
        <th>
            Virtual Session Available?
        </th>
    </tr>
    @foreach (Client client in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => client.ImageName)*@
            </td>
            <td>
                <a href="@Url.Action("AdminClientProfile", "Admin", new { id = client.ClientId })">
                    @Html.DisplayFor(modelItem => client.FirstName)
                    @Html.DisplayFor(modelItem => client.LastName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => client.LocationCity),
                @Html.DisplayFor(modelItem => client.LocationState)
                @Html.DisplayFor(modelItem => client.LocationZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => client.VirtualSession)
            </td>
        </tr>
    }
</table>