﻿@using c_final_capstone_v2.Models
@model List<Reviews>
@{
    ViewBag.Title = "CoachReviewsList";
    Layout = "~/Views/Shared/_CoachNavLayout.cshtml";
}

<h2>Coach Reviews</h2>

<div>
    @Model.SubmitterName
</div>
<div>
    @Model.CoachFirstName
    @Model.CoachLastName
</div>
<div>
    @Model.Email
</div>
<div>
    @Model.ReviewText
</div>
<div>
    @Model.ReviewDate
</div>
