﻿@using c_final_capstone_v2.Models
@model List<Reviews>

@{
    ViewBag.Title = "CoachReviewsList";
    Layout = "~/Views/Shared/_CoachNavLayout.cshtml";
}

<h2>All Reviews</h2>

<table class="table">
    <tr>
        <th>
            Submitter Name
        </th>
        <th>
            Coach Name
        </th>
        <th>
            
        </th>
        <th>
            Email
        </th>
        <th>
            Review
        </th>
        <th>
            Review Date
        </th>
    </tr>
    @foreach (Reviews review in Model)
    {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => review.SubmitterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => review.CoachFirstName)
            @Html.DisplayFor(modelItem => review.CoachLastName)
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => review.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => review.ReviewText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => review.ReviewDate)
        </td>
    </tr>
    }
</table>