﻿@using c_final_capstone_v2.Models
@model List<Client>

@{
    ViewBag.Title = "ClientProfileList";
    Layout = "~/Views/Shared/_ClientNavLayout.cshtml";
}

@*ForEach loop pulls in each client from a List of all clients, while then returning Html Display data for only the clients that are currently seeking a coach*@

<h2>Clients Seeking Coaches</h2>
<table class="table">
    <tr>
        <th>
            Avatar
        </th>
        <th>
            Client Name
        </th>
        <th>
            Location
        </th>
        <th>
            Virtual Session?
        </th>
    </tr>

    @foreach (Client client in Model)
    {
        if (client.SeekingCoach)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => client.ImageName)
                </td>
                <td>
                    <a href="@Url.Action("ClientProfile", "Users", new { id = client.ClientId })">
                        @Html.DisplayFor(modelItem => client.FirstName)
                        @Html.DisplayFor(modelItem => client.LastName)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => client.LocationCity),
                    @Html.DisplayFor(modelItem => client.LocationState)
                    @Html.DisplayFor(modelItem => client.LocationZip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => client.VirtualSession)
                </td>
            </tr>
        }
    }
</table>

