﻿@using c_final_capstone_v2.Models
@model LoginUser

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginNav.cshtml";
}

@using (Html.BeginForm("Login", "Users", FormMethod.Post))
{
    <fieldset>
        <legend> SightShift Login </legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.Label("Email")</td>
                <td></td>
                <td>@Html.TextBoxFor(a => a.Email)</td>
                <td>@Html.ValidationMessageFor(a => a.Email)</td>
            </tr>
            <tr>
                <td>@Html.Label("Password")</td>
                <td></td>
                <td>@Html.PasswordFor(a => a.Password) </td>
                <td>@Html.ValidationMessageFor(a => a.Password)</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}
