﻿@using c_final_capstone_v2.Models
@model LoginUser    

@{
    ViewBag.Title = "UserDashBoard";
    Layout = "~/Views/Shared/_ClientNavLayout.cshtml";
}

<fieldset>
    <legend>User Dashboard</legend>
    @if (Session["UserName"] != null)
    {
        <h2> Welcome @Session["UserName"].ToString()! </h2>
    }
</fieldset>

