﻿@using c_final_capstone_v2.Models


@{
    ViewBag.Title = "CoachDash";
    Layout = "~/Views/Shared/_CoachNavLayout.cshtml";
    Coach coach = ViewBag.Coach as Coach;
    Reviews reviews = ViewBag.Reviews as Reviews;

}

@*<h2>CoachDash</h2>*@

@using c_final_capstone_v2.Models
@model Coach

@{
    ViewBag.Title = "Coach Details";
    Layout = "~/Views/Shared/_CoachNavLayout.cshtml";
}

@*@Html.RenderPartial("CoachProfile", Coach);
    @Html.RenderPartial("Reviews", Reviews);*@
<title>Coach Details</title>
<section id="centeredPanel">
    <div class="container-fluid">
        <h1>Welcome Coach @coach.FirstName !</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-info">
                    <div class="panel-heading">

                        <h1 class="panel-title">
                            @{ if (@coach.SeekingClients)
                                {
                                    <span style="text-align: left; font-weight:700">Seeking Clients... </span>
                                }
                                else
                                {
                                    <span style="text-align: left; font-weight:700">No Availability</span>
                                }
                            }
                            <span class="pull-right">
                                <a href=@Url.Action("CoachEditProfile", "Users", new { id = coach.CoachId })> Delete User</a>
                                <a href=@Url.Action("CoachEditProfile", "Users",  new {  id = coach.CoachId }) data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                            </span>
                        </h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            @{ string imagePath = coach.FirstName.ToLower() + "_" + coach.LastName.ToLower() + ".jpg"; }
                            <div class="col-md-3 col-lg-3 " align="center"> <img alt="Coach Picture: @coach.FirstName @coach.LastName" src="~/Content/Images/@($"{imagePath}")" class="img-circle img-responsive"> </div>
                            <span class="pull-right" style="text-align: right; font-weight:300">Profile Created:<br> @coach.ProfileCreated</span>
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td><span style="text-align: left; font-weight:700">Name:</span></td>
                                            <td>@coach.FirstName @coach.LastName</td>
                                        </tr>
                                        <tr>
                                            <td><span style="text-align: left; font-weight:700">Gender:</span></td>
                                            <td>@coach.Gender</td>
                                        </tr>
                                        <tr>
                                            <td><span style="text-align: left; font-weight:700">Ethnicity:</span></td>
                                            <td>@coach.Ethnicity</td>
                                        </tr>
                                        <tr>
                                            <td><span style="text-align: left; font-weight:700">Age:</span></td>
                                            <td>@coach.Age</td>
                                        </tr>

                                        <tr>
                                            <td><span style="text-align: left; font-weight:700">Coach Bio:</span></td>
                                            <td> @coach.AboutMe</td>
                                        </tr>
                                        <tr>
                                            <td><span style="text-align: left; font-weight:700">Location:</span></td>
                                            <td> <p> @coach.LocationCity, @coach.LocationState </p>@coach.LocationZip</td>
                                        </tr>
                                        <tr>
                                            <td><span style="text-align: left; font-weight:700">Meeting Preference:</span></td>

                                            @{ if (@coach.VirtualSession)
                                                {
                                                    <td>In-Person or Virtual Session </td>
                                                }
                                                else
                                                {
                                                    <td>In-Person ONLY</td>
                                                }
                                            }
                                        </tr>
                                        <tr>
                                            <td><span style="text-align: left; font-weight:700">Email:</span></td>
                                            <td><a href="mailto: + @coach.Email">  @coach.Email</a></td>
                                        </tr>
                                        <tr>
                                            <td><span style="text-align: left; font-weight:700">Availability:</span></td>
                                            <td> Textbox with times coach is available?</td>
                                        </tr>


                                    </tbody>
                                </table>

                                <a href="#" class="btn btn-primary">Review Ratings</a>
                                <a href="#" class="btn btn-primary pull-right">View my Messages</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href=@Url.Action("CoachEditProfile", "Users",  new { id = coach.CoachId }) data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <a href=@Url.Action("CoachEditProfile", "Users", new {id = coach.CoachId })>Message Client</a>
                        <span class="pull-right">
                            <a href=@Url.Action("CoachEditProfile", "Users", new { id = coach.CoachId })> Edit Profile</a>
                            <a href=@Url.Action("CoachEditProfile", "Users",  new { id = coach.CoachId}) data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <iframe src="https://calendly.com/coder4cbus/availability?embed_domain=www.calendly-embed.com&amp;embed_type=Inline" width="100%" height="100%" frameborder="0"></iframe>
    @*<iframe src="https://calendly.com/dashboard?embed_domain=www.calendly-embed.com&amp;embed_type=Inline" width="100%" height="100%" frameborder="0"></iframe> --GenericLogin -profile will add embedded calendly link*@

<h2>Coach Reviews</h2>

<div>
    @reviews.SubmitterName
</div>
<div>
    @reviews.Email
</div>
<div>
    @reviews.ReviewText
</div>
<div>
    @reviews.ReviewDate
</div>
</section>





